<launch>
  <arg name="rviz" default="false" />
  <arg name="rviz_cfg" default="$(find fast_livo)/rviz_cfg/fast_livo2_edge.rviz" />

  <rosparam command="load" file="$(find fast_livo)/config/mid360_orin_super8g_resource.yaml" />

  <node pkg="fast_livo" type="fastlivo_mapping" name="laserMapping" output="screen">
    <rosparam file="$(find fast_livo)/config/camera_pinhole.yaml" />
  </node>

  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_cfg)" />
  </group>

  <node pkg="image_transport" type="republish" name="republish" args="compressed in:=/left_camera/image raw out:=/left_camera/image" output="screen" respawn="true"/>
</launch>
